<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{'REGISTER.REGISTER' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="personal-details-container">
    <form [formGroup]="personalDetailsForm" (ngSubmit)="validateForm(personalDetailsForm)">

      <ion-item-group>
        <ion-item-divider class="ion-item-divider-first">
          <ion-label text-wrap>
            {{'REGISTER.PERSONAL_DETAILS' | translate}}
          </ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-label text-wrap position="fixed" class="textDecor">{{'REGISTER.FIRSTNAME' | translate}}</ion-label>
          <ion-input formControlName="firstName" type="text"
            placeholder="{{'REGISTER.ENTER_FIRST_NAME' | translate}}" />
        </ion-item>
        <div class="error-label">
          <ng-container *ngFor="let error of errorMessages.firstName">
            <div
              *ngIf="personalDetailsForm.get('firstName')?.hasError(error.type) && (personalDetailsForm.get('firstName')?.dirty || personalDetailsForm.get('firstName')?.touched)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>

        <ion-item>
          <ion-label text-wrap position="fixed" class="textDecor">{{'REGISTER.LASTNAME'| translate}}</ion-label>
          <ion-input formControlName="lastName" type="text" placeholder="{{'REGISTER.ENTER_LAST_NAME' | translate}}" />
        </ion-item>
        <div class="error-label">
          <ng-container *ngFor="let error of errorMessages.lastName">
            <div
              *ngIf="personalDetailsForm.get('lastName')?.hasError(error.type) && (personalDetailsForm.get('lastName')?.dirty || personalDetailsForm.get('lastName')?.touched)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>

        <ion-item>
          <ion-label text-wrap position="fixed" class="textDecor">{{'REGISTER.AGE' | translate}}</ion-label>
          <ion-input formControlName="age" type="number" placeholder="{{'REGISTER.ENTER_YOUR_AGE' | translate}}" />
        </ion-item>
        <div class="error-label">
          <ng-container *ngFor="let error of errorMessages.age">
            <div
              *ngIf="personalDetailsForm.get('age')?.hasError(error.type) && (personalDetailsForm.get('age')?.dirty || personalDetailsForm.get('age')?.touched)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>

        <ion-item>
          <ion-label text-wrap position="fixed" class="textDecor">{{'REGISTER.GENDER'| translate}}</ion-label>
          <ion-select interface="popover" placeholder="{{'REGISTER.SELECT_YOUR_GENDER' | translate}}"
            formControlName="gender">
            <ion-select-option value="{{'REGISTER.MALE' | translate}}">{{'REGISTER.MALE' | translate}}</ion-select-option>
            <ion-select-option value="{{'REGISTER.FEMALE' | translate}}">{{'REGISTER.FEMALE' | translate}}</ion-select-option>
            <ion-select-option value="{{'REGISTER.OTHER' | translate}}">{{'REGISTER.OTHER' | translate}}</ion-select-option>
          </ion-select>
        </ion-item>
        <div class="error-label">
          <ng-container *ngFor="let error of errorMessages.gender">
            <div
              *ngIf="personalDetailsForm.get('gender')?.hasError(error.type) && (personalDetailsForm.get('gender')?.dirty || personalDetailsForm.get('gender')?.touched)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider class="ion-item-divider">
          <ion-label text-wrap>
            {{'REGISTER.CONTACT_DETAILS'| translate}}
          </ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-label text-wrap position="fixed" class="textDecor">{{'REGISTER.COUNTRY'| translate}}</ion-label>
          <ion-select interface="popover" placeholder="{{'REGISTER.SELECT_YOUR_COUNTRY' | translate}}"
            formControlName="country">
            <ion-select-option *ngFor="let country of countryList"
              [value]="country">{{country.name}}</ion-select-option>
          </ion-select>
        </ion-item>
        <div class="error-label">
          <ng-container *ngFor="let error of errorMessages.country">
            <div
              *ngIf="personalDetailsForm.get('country')?.hasError(error.type) && (personalDetailsForm.get('country')?.dirty || personalDetailsForm.get('country')?.touched)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>

        <ion-item>
          <ion-label text-wrap position="fixed" class="textDecor">{{'REGISTER.CONTACT'| translate}}</ion-label>
          {{personalDetailsForm.get('country')?.value.dial_code}}
          <ion-input formControlName="contact" type="tel" placeholder="{{'REGISTER.ENTER_YOUR_NUMBER' | translate}}" />
        </ion-item>
        <div class="error-label">
          <ng-container *ngFor="let error of errorMessages.contact">
            <div
              *ngIf="personalDetailsForm.get('contact')?.hasError(error.type) && (personalDetailsForm.get('contact')?.dirty || personalDetailsForm.get('contact')?.touched)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>

        <ion-item>
          <ion-label text-wrap position="fixed" class="textDecor">{{'REGISTER.EMAIL'| translate}}</ion-label>
          <ion-input formControlName="email" type="email" placeholder="{{'REGISTER.ENTER_YOUR_EMAIL' | translate}}" />
        </ion-item>
        <div class="error-label">
          <ng-container *ngFor="let error of errorMessages.email">
            <div
              *ngIf="personalDetailsForm.get('email')?.hasError(error.type) && (personalDetailsForm.get('email')?.dirty || personalDetailsForm.get('email')?.touched)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider class="ion-item-divider">
          <ion-label text-wrap>
            {{'REGISTER.CREATE_USER'| translate}}
          </ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-label text-wrap position="fixed" class="textDecor">{{'COMMON.USERNAME'| translate}}</ion-label>
          <ion-input formControlName="userName" type="text"
            placeholder="{{'REGISTER.CREATE_YOUR_USERNAME' | translate}}" />
        </ion-item>
        <div class="error">
          <ng-container *ngFor="let error of errorMessages.userName">
            <div
              *ngIf="personalDetailsForm.get('userName')?.hasError(error.type) && (personalDetailsForm.get('userName')?.dirty || personalDetailsForm.get('userName')?.touched)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>

        <ion-item>
          <ion-label text-wrap position="fixed" class="textDecor">{{'COMMON.PASSWORD'| translate}}</ion-label>
          <ion-input formControlName="password" type="text"
            placeholder="{{'REGISTER.CREATE_YOUR_PASSWORD' | translate}}" />
        </ion-item>
        <div class="error">
          <ng-container *ngFor="let error of errorMessages.password">
            <div
              *ngIf="personalDetailsForm.get('password')?.hasError(error.type) && (personalDetailsForm.get('password')?.dirty || personalDetailsForm.get('password')?.touched)">
              <div [innerHtml]="error.message"></div>
            </div>
          </ng-container>
        </div>

        <ion-item>
          <ion-label text-wrap position="fixed" class="textDecor">{{'COMMON.CONFIRM_PASSWORD' |
            translate}}</ion-label>
          <ion-input formControlName="confirmPassword" type="text"
            placeholder="{{'REGISTER.CONFIRM_YOUR_PASSWORD' | translate}}" />
        </ion-item>
        <div class="error-label">
          <ng-container *ngFor="let error of errorMessages.confirmPassword">
            <div
              *ngIf="personalDetailsForm.get('confirmPassword')?.hasError(error.type) && (personalDetailsForm.get('confirmPassword')?.dirty || personalDetailsForm.get('confirmPassword')?.touched)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>

        <div class="error-label">
          <div *ngIf="personalDetailsForm.get('confirmPassword')?.dirty && personalDetailsForm.errors">
            {{'ERROR.PASSWORDS_DONT_MATCH' | translate}}
          </div>
        </div>
      </ion-item-group>

    </form>
  </div>
</ion-content>
<ion-footer>
  <ion-button type="submit" class="ion-text-wrap" (click)="validateForm(personalDetailsForm)" expand="block"
    size="large">{{'REGISTER.NEXT'|
    translate}}</ion-button>
</ion-footer>
