ion-item {
    margin-top: 15px;
}

ion-select {
    width: 100% !important;
    max-width: 100% !important;
}

ion-content {
    box-shadow: 2px 0px 2px 2px lightgrey;
}

.ion-item-divider,
.ion-item-divider-first {
    background-image: linear-gradient(to left, rgba(255, 0, 0, 0), rgba(233, 137, 204));
    color: #000;
    font-size: large;
    font-weight: bold;
    margin-top: 15px;
}

.ion-item-divider-first {
    margin-top: 0px;
}

.personal-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit;
}

.textDecor {
    font-weight: bold;
    color: cornflowerblue;
}

.error-label {
    height: 10px;
    color: red;
    padding-left: 15px;
}

.error {
    color: red;
    padding-left: 15px;
}