<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'SETTINGS.SETTINGS' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="settings-container">
    <ion-item>
      <ion-label text-wrap position="fixed" class="textDecor">{{'SETTINGS.PREFERRED_LANGUAGE'| translate}}</ion-label>
      <ion-select interface="popover" [(ngModel)]="defaultLang" (ionChange)="languageSelected(defaultLang)">
        <ng-container *ngFor="let language of languages; let i = index">
          <ion-select-option value="{{language.lang}}">{{language.lang}}</ion-select-option>
        </ng-container>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label text-wrap position="fixed" class="textDecor">{{'SETTINGS.THEME'| translate}}</ion-label>
      <ion-segment (ionChange)="changeColorScheme($event)" value="{{currentColorMode}}">
        <ion-segment-button *ngFor="let colorMode of colorModes" value="{{colorMode}}">
          <ion-label>{{colorMode}}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-item>
  </div>
</ion-content>