<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'FORGOT_PASSWORD.FORGOT_PASSWORD' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="forgot-password-container">
    <form [formGroup]="forgotPasswordForm">

      <ion-item>
        <ion-label text-wrap position="fixed" class="textDecor">{{'COMMON.USERNAME' | translate}}</ion-label>
        <ion-input formControlName="username" type="text" placeholder="{{'COMMON.ENTER_USERNAME' | translate}}" />
      </ion-item>
      <div class="error-label">
        <div
          *ngIf="forgotPasswordForm.get('username')?.invalid && (forgotPasswordForm.get('username')?.dirty || forgotPasswordForm.get('username')?.touched)">
          {{'ERROR.USERNAME' | translate}}
        </div>
      </div>

      <ion-item>
        <ion-label text-wrap position="fixed" class="textDecor">{{'FORGOT_PASSWORD.NEW_PASSWORD' |
          translate}}</ion-label>
        <ion-input formControlName="newPassword" type="password"
          placeholder="{{'FORGOT_PASSWORD.ENTER_NEW_PASSWORD' | translate}}" />
      </ion-item>
      <div class="error">
        <div
          *ngIf="forgotPasswordForm.get('newPassword')?.hasError('required') && (forgotPasswordForm.get('newPassword')?.dirty || forgotPasswordForm.get('newPassword')?.touched)">
          {{'ERROR.NEW_PASSWORD' | translate}}
        </div>
        <div
          *ngIf="forgotPasswordForm.get('newPassword')?.hasError('pattern') && (forgotPasswordForm.get('newPassword')?.dirty || forgotPasswordForm.get('newPassword')?.touched)">
          <div innerHtml="{{'ERROR.RE_PASSWORD_PATTERN' | translate}}"></div>
        </div>
      </div>

      <ion-item>
        <ion-label text-wrap position="fixed" class="textDecor">{{'COMMON.CONFIRM_PASSWORD' | translate}}</ion-label>
        <ion-input formControlName="confirmNewPassword" type="password"
          placeholder="{{'FORGOT_PASSWORD.CONFIRM_NEW_PASSWORD' | translate}}" />
      </ion-item>
      <div class="error-label">
        <div
          *ngIf="forgotPasswordForm.get('confirmNewPassword')?.invalid && (forgotPasswordForm.get('confirmNewPassword')?.dirty || forgotPasswordForm.get('confirmNewPassword')?.touched)">
          {{'ERROR.CONFIRM_NEW_PASSWORD' | translate}}
        </div>
      </div>

      <div class="password-match-error-label">
        <div *ngIf="forgotPasswordForm.get('confirmNewPassword')?.dirty && forgotPasswordForm.errors">
          {{'ERROR.PASSWORDS_DONT_MATCH' | translate}}
        </div>
      </div>
    </form>
  </div>
</ion-content>
<ion-footer>
  <ion-button class="ion-text-wrap" (click)="validateForm(forgotPasswordForm)" expand="block" size="large">{{'FORGOT_PASSWORD.CHANGE_PASSWORD'
    | translate}}</ion-button>
</ion-footer>