ion-item {
    margin-top: 15px;
}

.forgot-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit;
    gap: 20px;
}

.textDecor {
    font-weight: bold;
    color: cornflowerblue;
}

.error-label {
    height: 10px;
    color: red;
    padding-left: 15px;
}

.password-match-error-label {
    margin-top: 10px;
    height: 10px;
    color: red;
    padding-left: 15px;
}

.error {
    color: red;
    padding-left: 15px;
}