ion-item {
    margin-top: 15px;
}

ion-select {
    width: 100% !important;
    max-width: 100% !important;
}

.configure-sos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit;
    gap: 20px;
}

.contact-value {
    width: 100%;
    color: grey;
}

.textDecor {
    font-weight: bold;
    color: cornflowerblue;
}